<html>
<head>
    <!-- ... -->
    <meta charset="UTF-8" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>


{% if error: %}
<div class="flex justify-center py-1">
<div class="flex flex-col bg-red-100 rounded w-3/4 px-10">

<div class="flex justify-center py-5"> <span>Whoops: {{ error }} </span> </div>

</div>
</div>

{% endif %}

<div class="flex justify-center py-5">
<div class="flex flex-col bg-green-100 rounded w-3/4 px-10">


<div class="flex justify-center py-5"> <span class="text-2xl break-words">Welcome to the Micropaymentverse!</span> </div>
<div class="flex justify-center py-5"> <span>Hi </span> <span class="font-bold px-4"> {{ current_user.username }}</span></span></div>

{% for account in accounts: %}

<div class="flex justify-center py-5">
<div class="flex flex-col bg-green-200 rounded w-3/4 px-2">

<div class="flex justify-around py-2"> <span class="w-1/4"> Account: </span> <span class="font-bold w-3/4"> {{ account['name'] }} </span></div>
<div class="flex justify-around py-2"> <span class="w-1/4"> Balance: </span> <span class="font-bold w-3/4"> {{ account['wad'] }} </span></div>
<div class="flex justify-around py-2"> <span class="w-1/4"> Cap: </span> <span class="font-bold w-3/4"> {{ account['cap'] }} </span></div>

{% for beacon in account['outgoing_beacons']: %}

<div class="flex justify-around py-2"> <span class="w-1/4"> Outgoing Beacon: </span> <span class="w-3/4 font-bold break-words"> {{ beacon }} </span></div>

{% endfor %}

<div class="flex justify-around py-2">

<div class="flex justify-center py-2"> <form action="" method="POST"><button type="submit" name="list_receipts" value="{{ account['name'] }}" class="bg-green-600 hover:bg-green-500 text-green-100 rounded px-1">List Receipts</button></form> </div>
<div class="flex justify-center py-2"> <form action="" method="POST"><button type="submit" name="generate_beacon" value="{{ account['name'] }}" class="bg-green-600 hover:bg-green-500 text-green-100 rounded px-1">Generate Beacon</button></form> </div>
<div class="flex justify-center py-2"> <form action="" method="POST"><button type="submit" name="clear_beacons" value="{{ account['name'] }}" class="bg-green-600 hover:bg-green-500 text-green-100 rounded px-1">Clear Beacons</button></form> </div>
<div class="flex justify-center py-2"> <form action="" method="POST"><button type="submit" name="remove_account" value="{{ account['name'] }}" class="bg-green-600 hover:bg-green-500 text-green-100 rounded px-1">Remove Account</button></form> </div>

</div>

</div>
</div>


{% endfor %}

<div class="flex justify-center py-2"> <form action="" method="POST"><button type="submit" name="new_account" value="{{ current_user.username }}" class="bg-green-600 hover:bg-green-500 text-green-100 rounded px-1">New Account</button></form> </div>
<div class="flex justify-center py-5"> <div class="bg-green-600 text-green-100 rounded px-4"> <a href="{{ url_for('logout')}}">Logout Here</a> </div> </div>

</div>
</div>

</body>
</html>
