<html>
<head>
    <!-- ... -->
    <meta charset="UTF-8" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>

<body>

{% if error: %}
<div class="flex justify-center py-1">
<div class="flex flex-col bg-red-100 rounded w-3/4 px-10">

<div class="flex justify-center py-5"> <span>Whoops: {{ error }} </span> </div>

</div>
</div>

{% endif %}


<div class="flex justify-center py-5">
<div class="flex flex-col bg-green-100 rounded w-1/2 px-10">

<div class="flex justify-center py-4"> <span class="text-2xl text-green-700 break-words">Register for an account:</span> </div>

<form action="" method = "POST">
    <div class="input-boxes">
    <div class="py-1"> <p>Email:</p></div> <div><p><input type = "email" name = "email" /></p> </div>
    </div>
    <div class="input-boxes">
    <div class="py-1"> <p>Username:</p></div> <div><p><input type = "text" name = "username" /></p> </div>
    </div>
    <div class="input-boxes">
    <div class="py-1"> <p>Password:</p></div> <div><p><input type = "password" name = "password" /></p> </div>
    </div>
    <div class="flex py-1 justify-end"> <p> <button type="submit" value="Submit" class="btn-main btn-wide">Submit</button></p> </div>

</form>


<div class="flex justify-center pt-5"> <span class="break-words text-green-700">Already have an account?</span> </div>
<div class="flex justify-center py-5"> <div class="underline"> <a href="{{ url_for('login')}}">Login Here</a> </div> </div>

</div>
</div>

</body>
</html>
