<html>
<head>
    <!-- ... -->
    <meta charset="UTF-8" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>


<div class="flex justify-center py-5">
<div class="flex flex-col bg-green-100 rounded w-1/2 px-10">

<div class="flex justify-center py-4"> <span class="text-2xl text-green-700 break-words">Register for an account:</span> </div>

<form action="" method = "POST">
    <div class="py-1"> <p>Email: <input type = "email" name = "email" /></p> </div>
    <div class="py-1"> <p>Username: <input type = "text" name = "username" /></p> </div>
    <div class="py-1"> <p>Password: <input type = "password" name = "password" /></p> </div>
    <div class="py-1"> <p> <input type = "submit" value = "Submit" /></p> </div>
</form>


<div class="flex justify-center"> <span class="break-words text-green-700">Already have an account?</span> </div>
<div class="flex justify-center py-5"> <div class="bg-green-900 text-green-100 rounded px-4"> <a href="{{ url_for('login')}}">Login Here</a> </div> </div>

</div>
</div>

</body>
</html>
